<app-header></app-header>
<div class="container-fluid form-align">
  <p-card header="Updates" [style]="{ width: '650px' }">
    <i
      class="pi pi-arrow-left abs-icon"
      style="font-size: 1.5rem"
      (click)="toggle()"
    ></i>
    <div class="card flex justify-content-center" >
      <p-card>
        <p class="m-0 margin-nil" *ngFor="let notification of userNotifications">
          <span><b>{{notification.companyName}}</b>  <span *ngIf="notification.isAccepted">has accepted</span>
          <span *ngIf="!notification.isAccepted">is not moving forward with</span>  your Job
            Application for {{notification.job_title}}</span><span class="font-time"> 25 minutes ago</span>
        </p>
        <p *ngIf="userNotifications.length == 0">
          No notifications found.
        </p>
        <hr>

      </p-card>
    </div>
  </p-card>
  <div></div>
</div>
