
<div class="container-fluid set_alignment" >


  <p-card header="Welcome!"  [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="../../../assets/images/register.jpg" />
    </ng-template>
    <h4>
      Ready for the next step?

    </h4>
    <p style="margin-top: 5px;">Create an account for tools to help you
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Job Seeker"  class="set_button_align" (click)="redirectTo('student')"></p-button>
        <p-button label="Employer"  class="set_button_align" (click)="redirectTo('employer')" styleClass="p-button-outlined" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
</p-card>

</div>
