<app-header></app-header>

<!-- <div class="card" *ngIf="selected && resumeTypeBuild"> -->
<div class="container-fluid form-align">
  <p-card header="Job Post" [style]="{ width: '650px' }">
    <i class="pi pi-arrow-left abs-icon" style="font-size: 1.5rem"></i>
    <div>
      <label
        >Company Name :
        <span style="font-weight: bold">UI/UX Desinger</span></label
      >
      <label
        >Job Description : <span style="font-weight: bold">flana</span></label
      >
      <label>Location : <span style="font-weight: bold">flana</span></label>
    </div>
    <h3>Applications</h3>
    <div class="custom-card-heading">
      <div class="more-width">Name of Applicant</div>
      <div>Role</div>
      <a>Resume</a>
      <div>
        <a class="pi pi-check" style="color: green"></a>&nbsp;&nbsp;<a class="pi pi-times" style="color: red"></a>
      </div>
    </div>
    <div class="custom-card">
      <div class="more-width">Preet Angad Singh</div>
      <div class="more-width">UI/UX Designer</div>
      <a>View Resume</a>
      <div>
        <a href="" class="pi pi-check" style="color: green"></a>&nbsp;&nbsp;
        <a href="" class="pi pi-times" style="color: red"></a>
      </div>
    </div>
    <div class="custom-card">
      <div class="more-width">Prabhjot</div>
      <div class="more-width">UI/UX Designer</div>
      <a>View Resume</a>
      <div>
        <a href="" class="pi pi-check" style="color: green"></a>&nbsp;&nbsp;
        <a href="" class="pi pi-times" style="color: red"></a>
      </div>
    </div>
    <div class="custom-card">
      <div class="more-width">Preet Angad Singh</div>
      <div class="more-width">UI/UX Designer</div>
      <a>View Resume</a>
      <div>
        <a href="" class="pi pi-check" style="color: green"></a>&nbsp;&nbsp;
        <a href="" class="pi pi-times" style="color: red"></a>
      </div>
    </div>
  </p-card>
</div>
